*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #ddd;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  width: 650px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.header{
  display: flex;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  margin: 1rem 0;
  cursor: pointer;
  padding: 1rem 2rem;
  position: relative
}

.header .title,
.header .content{
  color: #212a3c;
}

.open{
  border-top: 4px solid #0875f5;
}

.icon{
  font-size: 2rem;
  position: absolute;
  right: 20px;
  top: 10px;
}
.content{
  display: none;
  margin-top: 5px;
}

.header.open{
  display: flex;
  flex-direction: column;
}
.header.open .content{
  display: block;
}